body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 0.8fr 3.2fr;
    grid-template-rows: 15vh 85vh;
    grid-template-areas: "header header" "left right";
}


aligin
.textocentralizado{
    text-align: center;;
}

header {
    grid-area: header;
    background: #1C1C1C;
}

.left {
    grid-area: left;
    background: #1C1C1C;
}

.right {
    grid-area: right;
    margin: 5px 0 0 3px;
    border-radius: 5px;
    padding: 20px;
    background: #FFFAF0;
}

.link-header{
    display: flex;
    justify-content: flex-end;
    margin: 35px;
    margin-top: 55px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.logout{
    width: 20px;
    margin: 3px;
}

.menu-left li{
    margin: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.menu-left a:link, .link-header:link{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.menu-left a:visited, .link-header:visited{
    color: white;
    text-transform: uppercase;
}

.menu-left ul, .link-header{
    list-style: none;      
}

/* Estilizando filtagrem de espaços */

.buscar {
    padding: 10px;
    display: flex;
    justify-content: center;
}
p {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0 0 5px 0;
    padding: 0;
}
.reserva {
    display: flex;
    justify-content: space-around;
    margin: 0 10px;
}
.content {
    margin: 0 15px;
}
#btn {
    border: none;
    background-color: #008B45;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    width: 100px;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    border-left-width: medium;
    margin-left: 20px;
}

#btn:hover {
    cursor: pointer;
}

@media screen and (max-width:400px) {
    .buscar {
        flex-wrap: wrap;
    }
    .reserva {
        flex-wrap: wrap;
        margin: 10px auto;
        justify-content: flex-start;
    }
    .content {
        margin: 0;
    }
    #btn {
        margin-top: 5px;
    }
}
/* Estilizando tela de atualização de usuário */

.update h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 3px;
}

.update form {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 100px 100px 100px 30px;
    grid-template-areas: "email email" "nome atual" "nova confirmar" "remover atualizar";
    justify-content: space-evenly;
    margin-top: 40px;
    grid-column-gap: 15px;
    grid-row-gap: 25px;
}

#email {
    grid-area: email;
}

#nome {
    grid-area: nome;
}

#newSenha {
    grid-area: nova;
}

#confirm {
    grid-area: confirmar;
}

#SenhaAtual {
    grid-area: atual;
}

.update .submit {
    grid-area: atualizar;
    border: 1px solid #008B45;
    background-color: #008B45;
    text-align: center;
    border-radius: 3px;
}

.update .delete {
    grid-area: remover;
    border: 1px solid #EE2C2C;
    background-color: #EE2C2C;
    text-align: center;
    border-radius: 3px;
}

.update-content input {
    padding: 5px;
    width: 300px;
    border: none;
    border-bottom: 1px solid #008B45;
}

.update-content h3 {
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
}

#novoEmail {
   width: 700px;
}

.submit, .delete a {
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
}

.submit , .delete:hover {
    cursor: pointer;
}

@media screen and (max-width:400px) {
    .update form {
        grid-template-columns: 200px;
        grid-template-rows: 100px 100px 100px 100px 100px 30px 30px;
        grid-template-areas: "email" "nome" "atual" "nova" "confirmar" "remover" "atualizar";
        justify-content: center;
        grid-row-gap: 5px;
    }
}