body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 0.8fr 3.2fr;
    grid-template-rows: 15vh 85vh;
    grid-template-areas: "header header" "left right";
}
.espaco{
    background-color: darkgray;
    margin-top: 20px;
}

header {
    grid-area: header;
    background: #1C1C1C;
}

.left {
    grid-area: left;
    background: #1C1C1C;
}

.right {
    grid-area: right;
    margin: 5px 0 0 3px;
    border-radius: 5px;
    padding: 20px;
    background: #FFFAF0;
}

.menu-header ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu-header li{
    margin: 40px;
}

.menu-left li{
    margin: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.menu-left a:link{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
}

.menu-left a:visited{
    color: white;
    text-transform: uppercase;
}

.menu-left ul{
    list-style: none;      
}

/* Estilizando filtagrem de espaços */

.buscar {
    padding: 10px;
    display: flex;
    justify-content: center;
}
p {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0 0 5px 0;
    padding: 0;
}
.reserva {
    display: flex;
    justify-content: space-around;
    margin: 0 10px;
}
.content {
    margin: 0 15px;
}
#btn {
    border: none;
    background-color: #008B45;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    width: 100px;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

#btn:hover {
    cursor: pointer;
}

@media screen and (max-width:400px) {
    .buscar {
        flex-wrap: wrap;
    }
    .reserva {
        flex-wrap: wrap;
        margin: 10px auto;
        justify-content: flex-start;
    }
    .content {
        margin: 0;
    }
    #btn {
        margin-top: 5px;
    }
}
