body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left,#008B45,#2E8B57,#43CD80,#90EE90);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    position: relative;
    padding: 100px;
    background-color: #F8F8FF;
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.title {
    text-align: center;
    padding: 10px;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 5px;
}

.login {
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.login p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}

.sign-in {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

#submit {
    padding: 10px;
    margin: 20px auto;
    width: 100px;
    border-radius: 15px;
    background-image: linear-gradient(to right,#008B45,#2E8B57,#43CD80,#90EE90);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    font-family: 'Open Sans Condensed', sans-serif;
}

#submit:hover {
    cursor: pointer;
}

.login a {
    text-align: center;
    margin: 2px;
    color: black;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
}

.login a:hover {
    text-decoration: underline;
}

img {
    position: absolute;
    left: 38%;
    top: 0;
    padding: 10px;
}

@media (max-width:400px){
    .login-box {
        width: 35vw;
    }
    img {
        left: 33%;
    }
    .login {
        padding: 0;
    }
    .login a {
        margin: 0;
        color: black;
        font-size: 14px;
        text-decoration: underline;
    }
}

@media (min-width:768px) and (max-width: 1200px) {
    .login-box {
        width: 50vw;
    }
    img {
        left: 40%;
    }
}